* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

p,
span,
a {
  font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.fixed-width {
  width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.header-box {
  padding: 5px 0;
  background-color: #1747b5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.header-box .logo {
  width: 20%;
}

.header-box .logo img {
  width: 90px;
  margin-top: 7px;
}

.header-box .menu {
  width: 60%;
}

.header-box .menu ul {
  text-align: center;
}

.header-box .menu ul li {
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header-box .menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header-box .menu ul li ul {
  position: absolute;
  width: 165px;
  left: 0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-box .menu ul li ul li {
  display: block;
}

.header-box .menu ul li ul li a {
  color: #111;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: capitalize;
  padding: 10px 10px;
}

.header-box .menu ul li ul li a:hover {
  color: #cd2400;
}

.header-box .menu ul li a {
  display: block;
  color: #fff;
  padding: 20px 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header-box .menu ul li a i {
  font-size: 10px;
  margin-left: 5px;
}

.header-box .menu ul li a span i {
  opacity: 0;
  visibility: hidden;
}

.header-box .menu ul li a:hover {
  color: #cd2400;
}

.header-box .menu ul li a:hover i {
  visibility: hidden;
}

.header-box .menu ul li a:hover span i {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.header-box .menu ul li .active.active {
  color: #d54720;
}

.header-box .btn {
  text-align: end;
  width: 20%;
  margin-top: 7px;
}

.header-box .btn .btn-right {
  padding: 12px 25px;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: #fff;
  font-weight: 600;
  border-radius: 50rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.header-box .btn .btn-right:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.baner-section {
  background: url("img/ia_100000021.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.baner-section .baner-text {
  width: 50%;
  color: #fff;
  margin-top: 170px;
}

.baner-section .baner-text h6 {
  font-size: 16px;
  margin-bottom: 14px;
}

.baner-section .baner-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.baner-section .baner-text h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.baner-section .baner-text p {
  color: #ddd;
  margin-bottom: 48px;
}

.baner-section .baner-text .btn-bnr {
  padding: 12px 25px;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: #fff;
  font-weight: 600;
  border-radius: 50rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: 11px 25px;
}

.baner-section .baner-text .btn-bnr:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.baner-section .baner-text .baner-btn {
  margin-left: 30px;
  color: #fff;
  display: inline-block;
  position: relative;
  width: 200px;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.baner-section .baner-text .baner-btn:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.baner-section .baner-text .baner-btn:hover a {
  color: #cd2400;
}

.baner-section .baner-text .baner-btn::after {
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.baner-section .baner-text .baner-btn a {
  color: white;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.baner-section .baner-text .baner-btn i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #cd2400;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 6px;
}

.baner-section .baner-img {
  width: 50%;
}

.baner-section .baner-img img {
  margin-top: 96px;
  margin-left: 155px;
  width: 400px;
}

.about-section {
  background-color: white;
  margin-top: 110px;
  margin-bottom: 100px;
}

.about-section .about-img-box {
  width: 50%;
  margin-right: 70px;
}

.about-section .about-text-box {
  width: 50%;
}

.about-section .about-text-box h6 {
  color: #cd2400;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 18px;
}

.about-section .about-text-box h1 {
  font-size: 35px;
  line-height: 45px;
}

.about-section .about-text-box p {
  color: #767676;
  margin-top: 15px;
  margin-bottom: 27px;
}

.about-section .about-text-box li {
  list-style: none;
  margin-bottom: 15px;
}

.about-section .about-text-box li a {
  color: #111111;
  margin-right: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.about-section .about-text-box li a:hover {
  color: #cd2400;
}

.about-section .about-text-box li a i {
  margin-right: 10px;
}

.about-section .about-text-box li .comon-a {
  margin-left: 19px;
}

.about-section .about-text-box .about-btn {
  padding: 12px 25px;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: #fff;
  font-weight: 600;
  border-radius: 50rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.about-section .about-text-box .about-btn:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.about-section .about-text-box .about-btn i {
  margin-left: 10px;
}

.news-letter-section {
  background: url("img/ia_100000024.jpg") no-repeat center center;
  background-size: cover;
  padding: 50px;
}

.news-letter-section .tittle {
  color: white;
}

.news-letter-section .tittle h4 {
  font-size: 22px;
  text-transform: uppercase;
}

.news-letter-section .tittle h2 {
  font-size: 38px;
  margin-top: 5px;
  margin-bottom: 75px;
}

.news-letter-section .site {
  width: 452px;
  margin-right: 15px;
  padding: 15px 10px;
}

.news-letter-section .email {
  width: 324px;
  margin-right: 15px;
  padding: 15px 10px;
}

.news-letter-section .btn {
  text-align: end;
  display: block;
}

.news-letter-section .btn .sbtn {
  padding: 15px 45px;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: #fff;
  font-weight: 600;
  border: none;
  margin-top: -47px;
  margin-left: 861px;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.news-letter-section .btn .sbtn:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.service-section {
  margin-top: 70px;
  margin-bottom: 80px;
}

.service-section .tittle h6 {
  color: #cd2400;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 500;
}

.service-section .tittle h2 {
  font-size: 30px;
}

.service-section .wrap-service-item {
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 510px;
}

.service-section .service-box {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-right: 4px solid #cd2400;
  width: 550px;
  margin-top: 30px;
  position: relative;
}

.service-section .service-box:nth-child(1) {
  margin-left: -20px;
}

.service-section .service-box:nth-child(2) {
  margin-left: -20px;
}

.service-section .service-box:nth-child(3) {
  margin-left: 20px;
}

.service-section .service-box:nth-child(4) {
  margin-left: 20px;
}

.service-section .service-box .img-box img {
  width: 400px;
  display: block;
  margin-left: -23px;
}

.service-section .service-box .text-box {
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.service-section .service-box .text-box:hover::before {
  opacity: 1;
  visibility: visible;
  width: 470px;
}

.service-section .service-box .text-box:hover h4,
.service-section .service-box .text-box:hover p {
  color: #fff;
}

.service-section .service-box .text-box::before {
  content: '';
  width: 0;
  height: 220px;
  background-color: #cd2400;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.service-section .service-box .text-box h4 {
  font-size: 21px;
  margin-bottom: 22px;
  margin-top: 14px;
}

.service-section .service-box .text-box p {
  color: #767676;
}

.project-section {
  background: url("img/ia_100000023.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 70px;
}

.project-section .tittle h6 {
  color: #cd2400;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.project-section .tittle h2 {
  font-size: 30px;
  margin-bottom: 70px;
}

.project-section .btn-box {
  margin-bottom: 60px;
}

.project-section .btn-box ul {
  text-align: center;
}

.project-section .btn-box ul li {
  display: inline-block;
  padding: 10px 20px;
}

.project-section .btn-box ul .btn-li {
  background: linear-gradient(116deg, #fc5228 0%, #d91b03 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
  color: white;
  width: 34px;
}

.project-section .project-img-box-1 {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.project-section .project-img-box-1:hover .hover-div {
  left: 0;
}

.project-section .project-img-box-1 .hover-div {
  width: 245px;
  height: 68px;
  position: absolute;
  left: -100%;
  bottom: 40px;
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.project-section .project-img-box-1 .hover-div p {
  margin-top: 11px;
  margin-left: 11px;
  margin-bottom: 5px;
  color: #767676;
}

.project-section .project-img-box-1 .hover-div h4 {
  color: #cd2400;
  margin-left: 11px;
}

.quetion-section {
  margin-top: 90px;
  margin-bottom: 90px;
}

.quetion-section .quetion-text-box {
  width: 50%;
}

.quetion-section .quetion-text-box h6 {
  color: #cd2400;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.quetion-section .quetion-text-box h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.quetion-section .quetion-text-box p {
  color: #767676;
}

.quetion-section .quetion-text-box .item-1 {
  background-color: #cd2400;
  color: #fff;
  padding: 15px 20px;
  border-radius: 30px;
  margin-top: 32px;
}

.quetion-section .quetion-text-box .item-1 .text {
  margin-left: 15px;
}

.quetion-section .quetion-text-box .item-1 .icon-right {
  margin-left: 236px;
}

.quetion-section .quetion-text-box .item-2 {
  padding: 25px;
}

.quetion-section .quetion-text-box .item-3 {
  border: 1px solid #767676;
  color: #111;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 6px;
  margin-bottom: 30px;
}

.quetion-section .quetion-text-box .item-3 .text {
  margin-left: 15px;
}

.quetion-section .quetion-text-box .item-3 .icon-right {
  margin-left: 342px;
}

.quetion-section .quetion-img-box {
  width: 50%;
  margin-left: 40px;
}

.testimonial-section {
  background: url("img/ia_100000024.jpg") no-repeat center center;
  background-size: cover;
  padding: 50px;
}

.testimonial-section .tittle {
  color: white;
}

.testimonial-section .tittle h4 {
  font-size: 22px;
}

.testimonial-section .tittle h2 {
  font-size: 38px;
  margin-top: 5px;
  margin-bottom: 75px;
}

.testimonial-section .wrap-box-1 {
  margin-top: 120px;
}

.testimonial-section .box-1 {
  width: 50%;
  color: #fff;
  margin-left: 184px;
}

.testimonial-section .box-1 div {
  background-color: rgba(191, 194, 198, 0.8);
  width: 415px;
  height: 170px;
}

.testimonial-section .box-1 div h6 {
  margin-top: 135px;
  display: inline-block;
  color: #000;
  margin-left: 22px;
  font-size: 17px;
}

.testimonial-section .box-2 {
  width: 50%;
  color: #fff;
}

.testimonial-section .box-2 div {
  background-color: rgba(191, 194, 198, 0.8);
  width: 415px;
  height: 170px;
}

.testimonial-section .box-2 div h6 {
  margin-top: 135px;
  display: inline-block;
  color: #000;
  margin-left: 22px;
  font-size: 17px;
}

.testimonial-section .wrap-box-2 {
  position: relative;
}

.testimonial-section .wrap-box-2 .box-3 {
  width: 50%;
  color: #111;
  margin-left: 184px;
  position: absolute;
  top: -235px;
  left: -34px;
}

.testimonial-section .wrap-box-2 .box-3 div {
  background-color: white;
  width: 355px;
  height: 130px;
  padding: 30px;
}

.testimonial-section .wrap-box-2 .box-3 div p {
  margin-left: 40px;
}

.testimonial-section .wrap-box-2 .box-3 i {
  color: #cd2400;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 41px;
  left: -28px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.testimonial-section .wrap-box-2 .box-4 {
  width: 50%;
  color: #111;
  position: absolute;
  top: -235px;
  left: 657px;
}

.testimonial-section .wrap-box-2 .box-4 div {
  background-color: white;
  width: 355px;
  height: 130px;
  padding: 30px;
}

.testimonial-section .wrap-box-2 .box-4 div p {
  margin-left: 40px;
}

.testimonial-section .wrap-box-2 .box-4 i {
  color: #cd2400;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 41px;
  left: -28px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.testimonial-section .dot {
  color: white;
  margin-top: 50px;
}

.testimonial-section .dot .c-dot {
  color: #cd2400;
  margin-right: 5px;
}

.pricing-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.pricing-section .tittle h6 {
  color: #cd2400;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.pricing-section .tittle h2 {
  font-size: 27px;
}

.pricing-section .wrap-pricing-box {
  text-align: center;
  margin-top: 70px;
}

.pricing-section .wrap-pricing-box .pricing-box-1 {
  width: 33%;
  background: url("img/ia_100000027.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.pricing-section .wrap-pricing-box .pricing-box-1:hover .btn-top,
.pricing-section .wrap-pricing-box .pricing-box-1:hover .btn-bottom {
  background-color: #cd2400;
}

.pricing-section .wrap-pricing-box .pricing-box-1:hover h2 {
  color: #cd2400;
}

.pricing-section .wrap-pricing-box .pricing-box-1 .btn-top {
  color: white;
  background-color: black;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 0 30px 30px 0;
  position: absolute;
  top: 29px;
  left: 0;
}

.pricing-section .wrap-pricing-box .pricing-box-1 img {
  margin-top: 25px;
}

.pricing-section .wrap-pricing-box .pricing-box-1 h2 {
  margin-bottom: 20px;
}

.pricing-section .wrap-pricing-box .pricing-box-1 li {
  color: #767676;
  list-style: none;
  margin-bottom: 10px;
}

.pricing-section .wrap-pricing-box .pricing-box-1 .btn-bottom {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.pricing-section .wrap-pricing-box .wrap-pricing-box-2 {
  width: 33%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.pricing-section .wrap-pricing-box .pricing-box-2 {
  background: url("img/ia_100000027.jpg") no-repeat center center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.pricing-section .wrap-pricing-box .pricing-box-2 .btn-top {
  color: white;
  background-color: #cd2400;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 0 30px 30px 0;
  position: absolute;
  top: 29px;
  left: 0;
}

.pricing-section .wrap-pricing-box .pricing-box-2 img {
  margin-top: 25px;
}

.pricing-section .wrap-pricing-box .pricing-box-2 h2 {
  margin-bottom: 20px;
  color: #cd2400;
}

.pricing-section .wrap-pricing-box .pricing-box-2 li {
  color: #767676;
  list-style: none;
  margin-bottom: 10px;
}

.pricing-section .wrap-pricing-box .pricing-box-2 .btn-bottom {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cd2400;
  color: white;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.news-section {
  background-color: #edf3fb;
  padding-top: 100px;
  padding-bottom: 90px;
  position: relative;
}

.news-section .tittle {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.news-section .tittle h6 {
  color: #cd2400;
  text-transform: uppercase;
  font-size: 16px;
}

.news-section .tittle h1 {
  font-size: 30px;
  margin-top: 5px;
}

.news-section .news-box {
  width: 33%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  margin-left: 12px;
  margin-right: 12px;
}

.news-section .news-box .news-img-box {
  overflow: hidden;
}

.news-section .news-box .news-img-box img {
  width: 100%;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  display: block;
  cursor: pointer;
}

.news-section .news-box .news-img-box img:hover {
  -webkit-transform: rotate(-5deg) scale(1.2);
          transform: rotate(-5deg) scale(1.2);
}

.news-section .news-box .news-text-box {
  background-color: white;
  padding: 20px;
}

.news-section .news-box .news-text-box span {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 15px;
  color: #767676;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.news-section .news-box .news-text-box span:hover {
  color: #cd2400;
}

.news-section .news-box .news-text-box span i {
  display: inline-block;
  margin-right: 10px;
  color: #cd2400;
}

.news-section .news-box .news-text-box .calendr {
  margin-left: 13px;
}

.news-section .news-box .news-text-box h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
}

.news-section .news-box .news-text-box h4 a {
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.news-section .news-box .news-text-box h4 a:hover {
  color: #cd2400;
  letter-spacing: normal;
}

.news-section .news-box .news-text-box a {
  color: black;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.news-section .news-box .news-text-box a:hover {
  color: #cd2400;
  letter-spacing: .5px;
}

.news-section .news-box .news-text-box p {
  color: #767676;
  margin-bottom: 10px;
}

.footer-section {
  background: url("img/ia_100000028.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 18px;
}

.footer-section .foter-tittle {
  color: #fff;
  margin-bottom: 50px;
}

.footer-section .foter-tittle .box-1 {
  width: 50%;
}

.footer-section .foter-tittle .box-2 {
  width: 50%;
  text-align: end;
}

.footer-section .foter-tittle .box-2 .foter-btn {
  padding: 12px 25px;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: #fff;
  font-weight: 600;
  border-radius: 50rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: 11px 25px;
}

.footer-section .foter-tittle .box-2 .foter-btn:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.footer-section .foter-top {
  color: #fff;
  border-top: 1px solid #655c90;
  margin-bottom: 94px;
}

.footer-section .foter-top .box-1 {
  width: 25%;
  margin-top: 70px;
}

.footer-section .foter-top .box-1 h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section .foter-top .box-1 li {
  list-style: none;
  font-size: 15px;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .foter-top .box-1 li:hover i {
  background-color: #cd2400;
  color: #fff;
}

.footer-section .foter-top .box-1 li i {
  margin-right: 14px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #cd2400;
  border-radius: 50%;
  line-height: 40px;
  color: #cd2400;
  text-align: center;
}

.footer-section .foter-top .box-2 {
  width: 25%;
  margin-top: 70px;
  margin-left: 210px;
}

.footer-section .foter-top .box-2 h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section .foter-top .box-2 li {
  margin-left: 17px;
  margin-bottom: 10px;
}

.footer-section .foter-top .box-2 li a {
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .foter-top .box-2 li a:hover {
  color: #cd2400;
}

.footer-section .foter-top .box-3 {
  width: 25%;
  margin-top: 70px;
}

.footer-section .foter-top .box-3 h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section .foter-top .box-3 a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .foter-top .box-3 a:hover {
  color: #cd2400;
}

.footer-section .foter-top .box-4 {
  width: 25%;
  margin-top: 70px;
}

.footer-section .foter-top .box-4 h4 {
  font-size: 18px;
  margin-bottom: 24px;
}

.footer-section .foter-top .box-4 p {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-section .foter-top .box-4 .email {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.footer-section .foter-top .box-4 .sbtn {
  width: 111%;
  display: inline-block;
  padding: 10px 25px;
  border: inherit;
  background: linear-gradient(11deg, #d54720 31%, #f87e28);
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .foter-top .box-4 .sbtn:hover {
  color: white;
  background: linear-gradient(11deg, #f87e28, #d54720 31%);
}

.footer-section .foter-bottom {
  border-top: 1px solid #655c90;
  color: white;
}

.footer-section .foter-bottom .box-1 {
  width: 50%;
  margin-top: 30px;
}

.footer-section .foter-bottom .box-2 {
  width: 50%;
  text-align: end;
  margin-top: 30px;
}

.footer-section .foter-bottom .box-2 li {
  display: inline-block;
}

.footer-section .foter-bottom .box-2 li a {
  display: block;
  color: white;
  padding: 10px 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .foter-bottom .box-2 li a:hover {
  color: #cd2400;
}

.foter-b-bg {
  background-color: black;
  padding: 30px;
}

.scroll-bar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}

.scroll-bar i {
  width: 40px;
  height: 40px;
  background-color: #cd2400;
  line-height: 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 11px;
  bottom: 16px;
}
/*# sourceMappingURL=style.css.map */